
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: #696969;
    color: white;
    text-align: center;
    padding: 20px;
}

main {
    flex: 1;
    padding: 20px;
    background-color: white;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

input[type="text"],
input[type="email"],
textarea,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

button {
    padding: 12px 20px;
    background-color: #df4848;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #696969;
}

.radio-group input {
    margin-right: 10px;
}

.radio-group label {
    font-size: 14px;
    color: #333;
}

.checkbox-group input {
    margin-right: 10px;
}

.checkbox-group label {
    font-size: 14px;
    color: #333;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}
.thank-you-message {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.thank-you-message p {
    font-size: 14px;
    color: #333;
    margin: 10px 0;
}

.thank-you-message strong {
    color: #696969;
}
/*Кнопка для возврата*/
.button-return {
    display: inline-block;
    padding: 10px 20px;
    background-color: #df4848;
    color: white;
    text-align: center;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 20px;
}

.button-return:hover {
    background-color: #df4848;
}
